{% extends "base.html" %} {% block style %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<style>
    /* Styling for sender's name */
    /* Styling for sender's name */
    .message-container {
        max-width: 85%;
        /* Set your desired maximum width */
        margin: 0 auto;
        /* Center the container horizontally */
        padding: 20px;
        display: flex;
        flex-direction: column;
        background-color: #f3ededbb;
        border: 1px solid #ddd;
        border-radius: 10px;
        overflow-y: auto;
        /* Enable vertical scrolling */

        margin: 0px;
    }

    .sender {

        align-content: end;
        text-align: right;
        justify-self: end;
        align-self: flex-end;
        background-color: #DCF8C6;
        max-width: 65%;
        border: #f9f9f9 2px solid;
        border-radius: 13px;
    }

    .reciever {
        align-self: flex-start;
        background-color: #E5E5EA;
        max-width: 65%;
        border: 2px #f9f9f9 ridge;
        border-radius: 13px;
    }

    .message {
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 10px;
    }

    .image {
        max-width: 100%;
        max-height: 300px;
    }

    .file-container {
        margin-top: 10px;
    }
</style>


{% endblock %}
{% block body %}
{% load my_filters %}

<ul class="tab-content">
    <li id="D0">
        <div class="dash-content">
            <div class="overview">
                <div class="title">
                    <i class="uil uil-clock-three"></i>
                    <span class="text">Recent Activity</span>
                </div>
                <h2>{{ complaint.message|capfirst }}</h2>
            </div>
        </div>

        <div class="message-container" id="messageContainer">
            {% for message in feedbacks %}
            <div class="message {% if user == message.receiver %} reciever {% else %} sender {% endif %}  ">
                <p> <span class="sender-name">{% if user == message.sender %} You
                        {% else %} {{ message.sender.username|capfirst }}
                        {% endif %} </span>: {{message.date_posted|timesince}} ago.
                    {% if not message.read %}
                    <span class="read-icon">
                        <i class="fa-sharp fa-thin fa-check" style="color: #055bf0;"></i><i
                            class="fa-sharp fa-light fa-check"></i>
                    </span> <!-- Tick icon for read messages -->
                    {% else %}
                    <span class="read-icon">
                        <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" id="tick"><path d="M223.9 329.7c-2.4 2.4-5.8 4.4-8.8 4.4s-6.4-2.1-8.9-4.5l-56-56 17.8-17.8 47.2 47.2L340 177.3l17.5 18.1-133.6 134.3z" fill="#34a853" class="color000000 svgShape"></path></svg> -->
                    </span>
                    {% endif %}
                </p>
                <p class="message-text">{{ message.message }}</p>
                {% if message.file %}
                {% with file_type=message.file.name|get_file_type %}
                {% if file_type == "Image" %}
                <a href="{{ message.file.url }}" target="_blank">
                    <img src="{{ message.file.url }}" alt="Image" class="image" />
                </a>
                {% elif file_type == "Word Document" %}
                <div class="file-container">
                    <p>
                        This is a Word Document:
                        <a class="file-link" href="{{ message.file.url }}" target="_blank">{{ message.file.name }}</a>
                    </p>
                </div>
                {% elif file_type == "PDF" %}
                <div class="file-container">
                    <p class="file-link">
                        <a href="{{ message.file.url }}" target="_blank">View PDF</a>
                    </p>
                </div>
                {% else %}
                <p>Unsupported file type: {{ file_type }}</p>
                {% endif %}
                {% endwith %}
                {% endif %}
            </div>
            {% endfor %}
        </div>

        <div class="activity">
            <div class="activity-data">
                <div class="complaint" id="ticket">
                    <form id="feedbackForm" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <center>
                            <h3>Feedback Form <i class="fa-sharp fa-light fa-check"></i></h3>
                        </center>

                        <textarea name="message" id="feedbackMessage" cols="30" rows="3" placeholder="Write Feedback"></textarea>

                        <label for="file">Select a file:</label>
                        <input type="file" id="file" name="file" />

                        <center>
                            <button type="submit" id="submitFeedback" name="create-comp">Send Feedback</button>
                        </center>
                    </form>
                </div>
            </div>
        </div>
    </li>
</ul>

<script>
    // Scroll to the bottom of the message container
    var messageContainer = document.getElementById('messageContainer');
    messageContainer.scrollTop = messageContainer.scrollHeight;
    const socket = new WebSocket(`ws://${window.location.host}/ws/feedbacks/${complaint_id}/`);

    document.getElementById("feedbackForm").addEventListener("submit", function(event) {
        event.preventDefault();
        var form = event.target;
        var formData = new FormData(form);
        var xhr = new XMLHttpRequest();
        xhr.open("POST", form.action);
        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
        xhr.send(formData);
        form.reset();
    });
</script>
{% endblock body %}