{% extends "base.html" %}


{% block body %}


<section class="dashboard">

    <div class="top">
        <i class="uil uil-bars sidebar-toggle"></i>


        <span class="logo_name">
            <h1> ICT SUPPORT TICKETING SYSTEM</h1>
        </span>

        <!-- {% if messages %}
        {% for message in messages %}
        <div class="mb-3 alert alert-success text-center">
            {{message}}
        </div>
        {% endfor %}
        {% endif %} -->

        <!-- <div class="search-box">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Search here...">
            </div> -->

        <div>
            <a href="#D0" class="notification">
                <span>Tickets</span>
                <span id="mydiv" class="badge">2</span>
            </a>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    </div>


    <ul class="tabs-content">

        <li id="D0">

            <div class='dash-content'>
                <div class='overview'>
                    <div class='title'>
                        <i class='uil uil-tachometer-fast-alt'></i>
                        <span class='text'>Student Dashboard</span>
                    </div>

                    <div class='boxes'>
                        <div class='col-md-4 box box1'>
                            <i class='uil uil-files-landscapes'></i>
                            <span class='text'>TOTAL TICKETS</span>
                            <span class='number'>{{complaints|length}}</span>
                        </div>
                        <div class='col-md-3 box box2'>
                            <i class='uil uil-files-landscapes'></i>
                            <span class='text'>SOLVED TICKETS</span>
                            <span class='number'>{{ solved|length }}</span>
                        </div>
                        <div class='col-md-4 box box3'>
                            <i class='uil uil-files-landscapes'></i>
                            <span class='text'>PENDING TICKETS</span>
                            <span class='number'>{{ pending|length }}</span>
                        </div>
                    </div>
                </div>
                <!-- ";
                }
                ?> -->
                <div class="activity">
                    <div class="title">
                        <i class="uil uil-clock-three"></i>
                        <span class="text">Recent Activity</span>
                    </div>

                    <div class="activity-data">
                        <div id="adminDash" style="width: 100%;">
                            <table style="width: 100%; border-collapse: collapse; margin-top: 20px;">
                                <tr style=" border:1px solid #8b8c8b; border-collapse:collapse;">
                                    <th>TICKET ID</th>
                                    <th>Description</th>
                                    <!-- <th>Complainant</th> -->
                                    <th>Department</th>
                                    <th>Status</th>
                                    <th>Posted On</th>
                                    <th>Action</th>
                                </tr>
                                {% for complaint in complaints %}


                                <tr style="background:#fdfdfd" class="clickable-row"
                                    data-description="<?php echo $data['Description'] ?? ''; ?>">
                                    <td>
                                        {{complaint.id}}
                                    </td>
                                    <td>
                                        {{complaint.message}}
                                    </td>
                                    <td>
                                        {{complaint.department}}
                                    </td>
                                    <td class="<?php echo ($complaint['Status'] === 0) ? 0 : 1; ?>">

                                        {{complaint.status}}
                                    </td>
                                    <td>
                                        {{complaint.date_posted|timesince}} ago
                                    </td>
                                    <td>

                                        {% if complaint.status == "Pending" %}
                                        <form action="" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="id" value="{{complaint.id}}">
                                            <button
                                                style=" padding: 5px 10px; border: none;  background-color: #333; color: #fff; cursor: pointer;"
                                                type="submit" name="solved">Mark Solved
                                            </button>
                                        </form>

                                        {% else %}

                                        {% endif %}


                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
        </li>
        <li id="D2">


            <div class="dash-content">

                <div class='overview'>
                    <div class='title'>
                        <i class='uil uil-tachometer-fast-alt'></i>
                        <span class='text'>Tickets</span>
                    </div>

                    <div class='boxes'>
                        <div class='col-md-4 box box1'>
                            <i class='uil uil-files-landscapes'></i>
                            <span class='text'>TOTAL TICKETS</span>
                            <span class='number'>{{complaints|length}}</span>
                        </div>
                        <div class='col-md-3 box box2'>
                            <i class='uil uil-files-landscapes'></i>
                            <span class='text'>SOLVED TICKETS</span>
                            <span class='number'>{{ solved|length }}</span>
                        </div>
                        <div class='col-md-4 box box3'>
                            <i class='uil uil-files-landscapes'></i>
                            <span class='text'>PENDING TICKETS</span>
                            <span class='number'>{{ pending|length }}</span>
                        </div>
                    </div>
                </div>


                <div class="cssAnimsDemo">
                    <div class="tabWrap">


                        <!-- Links for Desktop -->
                        <!-- <input id="tabLink4" type="radio" name="tabs" checked>
                        <label for="tabLink4" class="desktopTabLink" style="width: 32%;">Assign Ticket</label> -->

                        <input id="tabLink5" type="radio" name="tabs">
                        <label for="tabLink5" class="desktopTabLink" style="width: 32%;">Transfer Ticket</label>

                        <input id="tabLink6" type="radio" name="tabs">
                        <label for="tabLink6" class="desktopTabLink" style="width: 32%;">Raise Ticket</label>


                        <!-- Links for Mobile -->
                        <input id="tabLinkMobile4" type="radio" name="tabs" checked>
                        <label for="tabLinkMobile4" class="mobileAccordionLink">Assign Ticket</label>

                        <!-- Content -->
                        <article class="tabContent" id="tabContent4">

                            <!-- <div id='adminDashTable'> -->
                            <div id="ticketassign">
                                <table style="width: 100%; border-collapse: collapse; margin-top: 20px;">
                                    <tr style=" border:1px solid #8b8c8b; border-collapse:collapse;">
                                        <th>Ticket Id</th>
                                        <th>Description</th>
                                        <th>Department</th>
                                        <th>Raised On</th>
                                        <th>Available Departments</th>
                                    </tr>
                                    {% for complaint in pending %}
                                    <tr>
                                    <tr class="clickable-row" data-description={{complaint.message}}>
                                        <td>
                                            {{complaint.id}}
                                        </td>
                                        <td>
                                            {{complaint.message}}
                                        </td>
                                        <td>
                                            {{complaint.department}}
                                        </td>

                                        <td>
                                            {{complaint.date_posted|timesince}} ago
                                        </td>
                                        <td>

                                            <form class="transferT" name="transferT" method="post" action="">
                                                {% csrf_token %}
                                                <input type="text" style="display: none;" class="issue" name="id"
                                                    value={{complaint.id}}>
                                                <select class="expert" name="department"
                                                    style=" padding: 5px 10px; border: none; background-color: #333; color: #fff; cursor: pointer;"
                                                    required>
                                                    <option value="" disabled selected>Select Department</option>
                                                    {% for department in departments %}
                                                    <option value={{department.id}}>
                                                        {{department.department_name}}
                                                    </option>
                                                    {% endfor %}

                                                </select>
                                                <button
                                                    style=" padding: 5px 10px; border: none; margin-left: 20px; background-color: #333; color: #fff; cursor: pointer;"
                                                    type="submit" name="transfer">Transfer</button>
                                            </form>

                                        </td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>

                        </article>
                        <!-- Links for Mobile -->
                        <input id="tabLink5" type="radio" name="tabs">
                        <label for="tabLink5" class="mobileAccordionLink">Transfer Ticket</label>

                        <!-- Content -->
                        <article class="tabContent" id="tabContent5">
                            <div id="tickettransfer">
                                <table style="width: 100%; border-collapse: collapse; margin-top: 20px;">
                                    <tr style=" border:1px solid #8b8c8b; border-collapse:collapse;">
                                        <th>Ticket Id</th>
                                        <th>Description</th>
                                        <th>Department</th>
                                        <th>Raised On</th>
                                        <th>Available Departments</th>
                                    </tr>
                                    {% for complaint in complaints %}
                                    <tr>
                                    <tr class="clickable-row" data-description="{{complaint.message}}">
                                        <td>
                                            {{complaint.id}}
                                        </td>
                                        <td>
                                            {{complaint.message}}
                                        </td>
                                        <td>
                                            {{complaint.department}}
                                        </td>
                                        <td>
                                            {{complaint.date_posted|timesince}} ago
                                        </td>
                                        <td>

                                            <form class="transferT" name="transferT" method="post" action="">
                                                {% csrf_token %}
                                                <input type="text" style="display: none;" class="issue" name="id"
                                                    value={{complaint.id}}>
                                                <select class="expert" name="department"
                                                    style=" padding: 5px 10px; border: none; background-color: #333; color: #fff; cursor: pointer;"
                                                    required>
                                                    <option value="" disabled selected>Select Department</option>
                                                    {% for department in departments %}
                                                    <option value={{department.id}}>
                                                        {{department.department_name}}
                                                    </option>
                                                    {% endfor %}

                                                </select>
                                                <button
                                                    style=" padding: 5px 10px; border: none; margin-left: 20px; background-color: #333; color: #fff; cursor: pointer;"
                                                    type="submit" name="transfer">Transfer</button>
                                            </form>

                                        </td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </article>


                        <!-- Links for Mobile -->
                        <input id="tabLinkMobile6" type="radio" name="tabs">
                        <label for="tabLinkMobile6" class="mobileAccordionLink">Raise Ticket</label>
                        {% include "app/raiseticket.html" %}
                    </div>
                </div>
            </div>
        </li>
        <li id="D3">
            <div class="dash-content">
                <div class="overview">
                    <div class="title">
                        <i class="uil uil-tachometer-fast-alt"></i>
                        <span class="text">Reports</span>
                    </div>


                </div>
            </div>
        </li>

    </ul>


</section>
{% endblock body %}