<article class="tabContent" id="tabContent6">
    <div class="activity">
        <div class="activity-data">
            <div class="complaint" id="ticket">
                <form class="complaintS" method="post" action="" enctype="multipart/form-data" name="complaintS" >
                    {% csrf_token %}
                    <!--<form class="complaintS" name="complaintS" onsubmit="return submitResult();"> -->
                    <center>
                        <h3>Fill in the user support form</h3>
                    </center>
                    <select class="department" name="department"
                        style=" padding: 5px 10px; border: none; background-color: #333; color: #fff; cursor: pointer; margin-bottom: 10px; margin-left: 10px;"
                        required>
                        <option value="" disabled selected>Select Department</option>
                        {% for department in departments %}
                        <option value={{department.id}}>
                            {{department.department_name}}
                        </option>
                        {% endfor %}
                    </select>
                    <textarea  name="problemDetail" id="descr" cols="30" rows="10"
                        placeholder="PROBLEM DESCRIPTION"></textarea>


                    <label for="myfile">Select a file:</label>
                    <input type="file" id="myfile" name="myfile">
                    <center>
                        <button type="submit" name="create-comp">Submit</button>
                    </center>
                </form>

            </div>



        </div>
    </div>
</article>