{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset='UTF-8'>
    <link rel="stylesheet" href="{% static 'css1/style.css' %}">
    <link rel="stylesheet" href="{% static 'css1/bootstrap.min.css' %}">
    <script src="{% static 'js/jquery-3.7.0.js' %}"></script>
    <link rel='stylesheet' href='https://unicons.iconscout.com/release/v4.0.0/css/line.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


    <style>
        .notification {
            background-color: #555;
            color: white;
            text-decoration: none;
            padding: 15px 26px;
            position: relative;
            display: inline-block;
            border-radius: 2px;
        }

        .notification:hover {
            background: rgba(255, 0, 0, 0.76);
        }

        .notification .badge {
            position: absolute;
            top: -10px;
            right: -10px;
            padding: 5px 10px;
            border-radius: 50%;
            background: red;
            color: white;
        }
    </style>
    {% block style %}
        
    {% endblock %}

</head>

    
    

    <body>
        <nav>
            <div class="logo-name">
                <div class="logo-image">
                    <img src="{{ user.profile_pic }}" alt="">
                </div> 
                <span class="link-name">{{user.username}}</span>
            </div>
            <title>SERVICE DESK-IT Ticketing-</title>
            <div class="menu-items">
                <ul class="tabs">
                    <li>
                        
                        {% if department %}
                            <a>
                                <!-- <i class="uil uil-user-circle"></i> -->
                                <span class="link-name" style="font-size: small; color: #000">{{ department.department_name }} Department</span>
                            </a>
                        {% endif %}
                            
                    </li>
                    <li><a href="/home/{{typ}}/#D0" class="active">
                            <i class="uil uil-estate"></i>
                            <span class="link-name">Dashboard</span>
                        </a>
                    </li>
                    <li><a href="/home/{{typ}}/#D2">
                            <i class="uil uil-files-landscapes"></i>
                            <span class="link-name">Tickets</span>
                        </a>
                    </li>
                    <!-- <li><a href="#D3">
                            <i class="uil uil-files-landscapes"></i>
                            <span class="link-name">Reports</span>
                        </a></li> -->


                </ul>

                <ul class="logout-mode">
                    <li><a href="{% url 'accounts:logout' %}">
                            <i class="uil uil-signout"></i>
                            <span class="link-name">Logout</span>
                        </a>
                    </li>
                    

                    <!-- <li class="mode">
                        <a href="javascript:void(0);">
                            <i class="uil uil-moon"></i>
                            <span class="link-name">Dark Mode</span>
                        </a>

                        <div class="mode-toggle">
                            <span class="switch"></span>
                        </div>
                    </li> -->
                </ul>
            </div>
        </nav>
        {% if messages %}
        {% for message in messages %}
        <div class="mb-3 alert alert-success text-center">
            {{message}}
        </div>
        {% endfor %}
        {% endif %}
        <section class="dashboard">

            <div class="top">
                <i class="uil uil-bars sidebar-toggle"></i>
        
        
                <span class="logo_name">
                    <h1> ICT SUPPORT TICKETING SYSTEM</h1>
                </span>
        
                <div>
                    <a href="#D0" class="notification">
                        <span>Tickets</span>
                        <span id="mydiv" class="badge">{{feedback_l|length}}</span>
                    </a>
                </div>
        
                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        
        
            </div>


        {% block body %}

        {% endblock body %}
        
    </section>
        <footer>
            <center>
                <a href="https://github.com/indieka900">Created by Joseph I</a>
                <P>Copyright &copy; 2019 -
                    <script>document.write(new Date().getFullYear())</script>
                </P>

            </center>
        </footer>
    </body>

    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- <script src="{% static 'js/scripts.js' %}"></script> -->

</html>